<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.epss.dao.VipLevelMapper">
  <resultMap id="BaseResultMap" type="com.hotel.domain.VipLevel">
    <id column="level" jdbcType="SMALLINT" property="level" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="totalAmount" jdbcType="BIGINT" property="totalamount" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    level, discount, totalAmount, remarks
  </sql>
  <select id="selectByExample" parameterType="com.hotel.domain.VipLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from viplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from viplevel
    where level = #{level,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from viplevel
    where level = #{level,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hotel.domain.VipLevelExample">
    delete from viplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hotel.domain.VipLevel">
    insert into viplevel (level, discount, totalAmount, 
      remarks)
    values (#{level,jdbcType=SMALLINT}, #{discount,jdbcType=DECIMAL}, #{totalamount,jdbcType=BIGINT}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.domain.VipLevel">
    insert into viplevel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="level != null">
        level,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="totalamount != null">
        totalAmount,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="level != null">
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="totalamount != null">
        #{totalamount,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hotel.domain.VipLevelExample" resultType="java.lang.Long">
    select count(*) from viplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update viplevel
    <set>
      <if test="record.level != null">
        level = #{record.level,jdbcType=SMALLINT},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalamount != null">
        totalAmount = #{record.totalamount,jdbcType=BIGINT},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update viplevel
    set level = #{record.level,jdbcType=SMALLINT},
      discount = #{record.discount,jdbcType=DECIMAL},
      totalAmount = #{record.totalamount,jdbcType=BIGINT},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.domain.VipLevel">
    update viplevel
    <set>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="totalamount != null">
        totalAmount = #{totalamount,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where level = #{level,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.domain.VipLevel">
    update viplevel
    set discount = #{discount,jdbcType=DECIMAL},
      totalAmount = #{totalamount,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where level = #{level,jdbcType=SMALLINT}
  </update>
</mapper>